# dependencies
node_modules/
.pnpm-store/

# builds
dist/
build/
*.tsbuildinfo
.turbo/

# env / secrets — NE JAMAIS COMMITER
.env
.env.*
!.env.example

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# coverage / tests
coverage/

# OS / éditeurs
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json

# Expo / mobile (à venir)
apps/mobile/.expo/
apps/mobile/dist/
apps/mobile/web-build/
